.page-header{
    min-height: 72vh;
}

.studies_subsection,
.studies_subsubsection{
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

/*estilos del contenedor de la imagen de los estudios*/
.studie-img-container{
    height: 400px;
    position: relative;
}

.studie_img_engineer,
.studie_img_comunication,
.studie_img_software{
    width: 73%;
    position: absolute;
    z-index: 100;
}

.studie_img_engineer{    
    top: 50px;
}

.studie_img_comunication{
    top: 20px;
}

.studie_img_software{
    top: 45px;
}

.studie_img_engineer img,
.studie_img_comunication img,
.studie_img_software img{
    max-width: 100%;
}


/*estudios de las etiquetas que acompañan la imagen*/
.studie_tag_engineer,
.studie_tag_comunication,
.studie_tag_software{
    width: 70%;
    color: #f13a19;
    border: 1px solid;
    padding: 1.5em;
    font-style: oblique;
    font-size: 1.1em;
    opacity: 0.75;
    position: absolute;
    
}

.studie_tag_engineer{
    bottom: 60px;
}

.studie_tag_comunication{
    bottom: 25px;
}

.studie_tag_software{
    bottom: 50px;
}

.text-left{
    left: 4em;
}

.text-right{
    right: 4em;
}

.img-right{
    right: 1em;
    box-shadow: 3px 3px 4px 3px rgba(83, 77, 77, 0.65);
}

.img-left{
    left: 1em;
    box-shadow: -3px 3px 4px 3px rgba(83, 77, 77, 0.65);
}

/*estilos de la descripcion de cada estudio*/
.studie-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.studie-title{
    font-size: 5vmin;
    margin-bottom: 0.8em;
}

.studie-paragph{
    font-size: 3.5vmin;
    font-weight: 320;
}

@media screen and (min-width: 768px) {
    .studie-paragph{
        font-size: 3.1vmin;
    } 

}

/*estilos de los niveles de estudio*/
.studies-levels{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.studie-level{
    width: 100%;
    padding: 5px;
    display: flex;
    font-size: 2.9vmin;
    font-weight: 320;
    align-items: center;
    justify-content: space-between;
}


@media screen and (min-width: 992px) { 
    .studies-levels{
        margin-bottom: 15px;
    }
 }

 .btn{
     margin-top: 10px;
 }

.circles{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.circle{
    display: inline-block;
    margin: 0 2px;
    height: 22px;
    width: 22px;
    color: #f13a19;
    padding-left: 2px;
    text-align: center;
    line-height: 20px;
    border: 1px solid ;
    border-radius: 50%;
    /*box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);*/
}

/*link que muestra los certificados*/
.studie-description a{
    display: none;
}
