.page-header{
    min-height: 72vh;
}

.studies_subsection,
.studies_subsubsection{
    margin-bottom: 1.5em;
}

/*estilos del contenedor de la imagen de los estudios*/
.studie-img-container{
    height: 400px;
    position: relative;
}

.studie_img{
    width: 65%;
    position: absolute;
    z-index: 100;
}

.studie_img img{
    max-width: 100%;
}

.img-right{
    right: 1em;
}

.img-left{
    left: 1em;
}

/*estudios de las etiquetas que acompañan la imagen*/
.studie_tag{
    width: 55%;
    color: #f13a19;
    border: 1px solid;
    padding: 1.5em;
    font-style: oblique;
    font-size: 1.1em;
    opacity: 0.75;
    position: absolute;
    bottom: 0;
}

.text-left{
    left: 4em;
}

.text-right{
    right: 4em;
}

/*estilos de la descripcion de cada estudio*/
.studie-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.studie-title{
    margin-bottom: 0.8em;
}

/*estilos de los niveles de estudio*/
.studies-levels{
    display: flex;
    flex-direction: column;
    width: 100%;

}

.studie-level{
    width: 100%;
    padding: 5px;
    display: flex;
    font-size: 1em;
    align-items: center;
    justify-content: space-between;
}


@media screen and (min-width: 992px) { 
    .studies-levels{
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 15px;
    }

    .studie-level{
        width: 50%;
    }
 }

.circles{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.circle{
    display: inline-block;
    margin: 0 2px;
    height: 22px;
    width: 22px;
    color: #f13a19;
    padding-left: 2px;
    text-align: center;
    line-height: 20px;
    border: 1px solid ;
    border-radius: 50%;
    /*box-shadow: 0.375em 0.375em 0 0 rgba(15, 28, 63, 0.125);*/
}

/*link que muestra los certificados*/
.studie-description a{
    display: none;
}
