
/*estilos de las imagenes para los portafolios*/
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.image-portfolio{
    width: 420px;
    height: 280px;
}

.image-container img{
    max-width: 100%;
    position: relative;
    transition: transform 0.5s;
    z-index: 100;
    box-shadow: 3px 3px 4px 3px rgba(83, 77, 77, 0.65);
}

.image-text{
    position: absolute;
    color: #ffffff;
    width: 50%;
    z-index: 200;
}

@media (min-width: 768px) {

    .image-container{
        cursor: pointer;
    }

    .image-container img,
    .image-text
    {
        transition: transform 0.6s;
    }

    .image-text{
        width: 40%;
    }
    .image-text h3{
        text-align: center;
    }

    .image-text p{
        display: none;
    }

    .image-container:hover img{
        transform: scale(0.8) translateX(-52%);
    }
    
    .image-container:hover .image-text{
        z-index: 0;
        display: block;
        color: black;
        transform: translateX(60%);
    }

    .image-container:hover .image-text p{
        display: block;
    }


 }