<div class="row">
    <div class="section-description col">
        <h1 class="section-description__title">Mi Portafolio</h1>
        <p class="section-description__paragph">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis quibusdam quaerat debitis aperiam voluptatibus, qui magnam optio impedit accusamus libero corrupti minima est repellendus ut saepe quisquam id pariatur tenetur! Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem delectus officiis sunt, culpa facilis quod quos laudantium nisi maxime modi?</p>
    </div>
</div>
<div class="row mt-3 mb-3 d-flex flex-column align-items-center">
    <div (click)="showPortfolio1()" class="image-container col">
        <div class="image-portfolio">
            <img src="assets/img/bg3.jpg" alt="">
        </div>
        <div class="image-text">
            <h3>Portafolio 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, distinctio ullam! Saepe facere perspiciatis eaque dicta non quasi unde veniam.</p>
        </div> 
    </div>
    <a class="btn btn-outline-danger w-25 mt-3 d-block d-md-none" routerLink="/portfolio/iot">ver mas</a>
</div>




