/*estilos de las imagenes superpuestas*/
.image-container{
    display: flex;
    justify-content: center;
}

.iot-images-container{
    display: flex;
}

.top-image,
.sub-image{
    box-shadow: 3px 3px 4px 3px rgba(83, 77, 77, 0.65);
}

.sub-image{
    width: 320px;
    height: 260px;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 576px){
    .sub-image{
        width: 480px;
        height: 300px;
    }
}

@media screen and (min-width: 768px){
    
    .iot-images-container{
        width: 950px;
        height: 480px;
        position: relative;
    }

    .top-image,
    .sub-image{
        width: 550px;
        height: 360px;
    }

    .sub-image{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 100;
    }

}

/*estilos de la descripcion del proyecto iot*/
.subtitle{
    text-align: center;
    font-size: 5.4vmin;
    margin-bottom: 1em;
}

.subtitle + .row{
    margin-bottom: 1em;
}

.subsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.iot-image-profile,
.iot-image-coverage,
.iot-image-coverage2{
    box-shadow: 3px 3px 4px 3px rgba(83, 77, 77, 0.65);
    margin-bottom: 20px;
}

.iot-image-profile{
    width: 355px;
    height: 300px;
}

@media screen and (min-width: 576px){
    .iot-image-profile{
        
        width: 480px;
        height: 300px;
    }

}

@media screen and (min-width: 768px) { 
    .iot-image-profile{
        width: 720px;
        height: 380px;
    }
 }

.images-coverage{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.iot-image-coverage{
    width: 320px;
    height: 295px;
}

.iot-image-coverage2{
    width: 320px;
    height: 355px;
}

@media screen and (min-width: 576px) {

    .iot-image-coverage{
        width: 450px;
        height: 420px;
    }
    
    .iot-image-coverage2{
        width: 450px;
        height: 505px;
    }   

}

@media screen and (min-width: 768px){

    .images-coverage{
        flex-direction: row;
        justify-content: space-around;
    }

}


.iot-image-profile img,
.iot-image-coverage img,
.iot-image-coverage2 img{
    max-width: 100%;
}


/*estilos de los perfiles de los involucrados en el proyecto*/
.profile-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 1em 1.8em;
    margin-bottom:  1.2em;
    border-radius: 5px;
    border: 1px solid rgba(228, 111, 15, 0.7);
    box-shadow: 1px 1px 4px 1px rgba(228, 111, 15, 0.55);
    position: relative;
}


.profile-container p{
    text-align: center;
    font-size: 3.5vmin;
    font-weight: 320;
}

.contact-profile-container{
    position: absolute;
    bottom: 5px;
    width: 100%;
    font-size: 19px;
    font-weight: 320;
    display: flex;
    justify-content: center;
}

.contact-profile-container i{
    color: #fd7f08f1;
    margin-right: 5px;
}

@media screen and (min-width: 768px) { 
    .profile-container{
        margin-left: 5px;
        margin-right: 5px;
    }
 }

 @media screen and (min-width: 992px){
    .profile-container{
        margin-bottom: 0;
    }
 }


 .btn-outline-danger{
     width: 300px;
     height: 50px;
     font-size: 18px;
     font-weight: 360;
 }
