<div class="row">
    <div class="section-main-description col">
        <h1 class="section-description__title">Proyecto de Internet de las Cosas</h1>
        <p class="section-description__paragph w-75">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis quibusdam quaerat debitis aperiam voluptatibus, qui magnam optio impedit accusamus libero corrupti minima est repellendus ut saepe quisquam id pariatur tenetur! Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
    </div>
</div>

<div class="row  mt-3 mb-4">
    <div class="image-container col">
        <div class="iot-images-container">

            <div class="top-image d-none d-md-block" style="background-image: url('assets/img/ruralpop.png');"></div>
            <div class="sub-image" style="background-image: url('assets/img/urbanopop.png');"></div>

        </div>
    </div>
</div>

<h3 class="subtitle">Estudio 1</h3>
<div class="row">
    
    <div class="iot-description col-12 col-md-7">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, distinctio ullam! Saepe facere perspiciatis eaque dicta non quasi unde veniam.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias alias eius quaerat? Quam quo dolore magnam tempora molestiae mollitia tempore dolores sed laboriosam neque, voluptatibus architecto quibusdam, id commodi. Facere!</p>
    </div>

    <div class="col-12 col-md-5">
        <div class="iot-image">
            <img src="assets/img/bg3.jpg" alt="">
        </div>
    </div>
</div>

<h3 class="subtitle">Estudio 1</h3>
<div class="row">

    <div class="iot-description col-12 col-md-7">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, distinctio ullam! Saepe facere perspiciatis eaque dicta non quasi unde veniam.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias alias eius quaerat? Quam quo dolore magnam tempora molestiae mollitia tempore dolores sed laboriosam neque, voluptatibus architecto quibusdam, id commodi. Facere!</p>
    </div>

    <div class="col-12 col-md-5">
        <div class="iot-image">
            <img src="assets/img/bg3.jpg" alt="">
        </div>
    </div>
</div>



<h3 class="subtitle">Personas Involucradas</h3>
<div class="row">
    <div class="col-12 col-md profile-container">
        <div class="profile-picture">
            <img src="assets/img/perfil.png" alt="" >
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores incidunt odio harum sequi labore! Nulla, ducimus aperiam accusantium minima sed ea quae officia!</p>
        <div class="contact-profile-container">
            <span> <i class="fas fa-at"></i> asdasdasd</span>
            <span><i class="fab fa-whatsapp"></i> aksjsdljal</span>     
        </div>
    </div>
    <div class="col-12 col-md profile-container">
        <div class="profile-picture">
            <img src="assets/img/perfil.png" alt="" >
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores incidunt odio harum sequi labore! Nulla, ducimus aperiam accusantium minima sed ea quae officia!</p>
        <div class="contact-profile-container">
            <span> <i class="fas fa-at"></i> asdasdasd</span>
            <span><i class="fab fa-whatsapp"></i> aksjsdljal</span>     
        </div>
    </div>
    <div class="col-12 col-md profile-container">
        <div class="profile-picture">
            <img src="assets/img/perfil.png" alt="" >
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores incidunt odio harum sequi labore! Nulla, ducimus aperiam accusantium minima sed ea quae officia!</p>
        <div class="contact-profile-container">
            <span> <i class="fas fa-at"></i> asdasdasd</span>
            <span><i class="fab fa-whatsapp"></i> aksjsdljal</span>     
        </div>
    </div>
</div>

