/*estilos de las imagenes superpuestas*/
.image-container{
    display: flex;
    justify-content: center;
}

.iot-images-container{
    width: 500px;
    height: 250px;
    display: flex;
}

.top-image,
.sub-image{
    box-shadow: 3px 3px 4px 3px rgba(83, 77, 77, 0.65);
}

.sub-image{
    width: 500px;
    height: 250px;
    background-size: cover;
    background-position: center;
}

@media screen and (min-width: 768px){
    
    .iot-images-container{
        width: 950px;
        height: 480px;
        position: relative;
    }

    .top-image,
    .sub-image{
        width: 550px;
        height: 360px;
    }

    .sub-image{
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 100;
    }

}

/*estilos de la descripcion del proyecto iot*/
.subtitle{
    text-align: center;
    margin-bottom: 1em;
}


.iot-image{
    box-shadow: 3px 3px 4px 3px rgba(83, 77, 77, 0.65);
}

.iot-image img{
    max-width: 100%;
}

.iot-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.subtitle + .row{
    margin-bottom: 1em;
}

/*estilos de los perfiles de los involucrados en el proyecto*/
.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px 1.2em;
    padding: 1em;
    border-radius: 5px;
    border: 1px solid rgba(228, 111, 15, 0.7);
    box-shadow: 1px 1px 4px 1px rgba(228, 111, 15, 0.55);
}

.contact-profile-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 1em;
}

.contact-profile-container i{
    color: #fd7f08f1;
}

@media screen and (min-width: 768px) { 
    .profile-container{
        margin-bottom: 0;
    }
 }

