/*
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: 10px solid gold;
    box-shadow: none;
}
*/

.navbar{
    text-transform: uppercase;
}

.navbar-brand{
    font-size: 1.3em;
}

.nav-link,
.navbar-toggler-icon
{
    font-size: 1.2em;
}





/*clase que se ejecute cuando se este en la pagina actual*/
.class1,
.navbar-toggler-icon{
    color: white !important;
}