/*.navbar-brand{
    color: chartreuse;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: 10px solid gold;
    box-shadow: none;
}
*/

.class1{
    color: red !important;
    font-size: 1.2em;
    text-transform: uppercase;
}