.navbar{
    text-transform: uppercase;
}

.navbar-brand{
    font-size: 1.3em;
}

.nav-link,
.navbar-toggler-icon
{
    font-size: 1.2em;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-nav .nav-link{
    color: #ffffff;
}

.navbar-dark .nav-item:hover .nav-link {
    color: #ffffffaf;
}

/*clase que se ejecute cuando se este en la pagina actual*/
.class1,
.navbar-toggler-icon{
    color: #ffffffaf !important;
    text-decoration: underline;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  
.navbar-dark .navbar-toggler {
    border-color: rgb(255, 255, 255);
}


.bg-navbar{
    background-color: rgba(255, 166, 0, 0.9);
}
.bg-transparent{
    background-color: transparent;
}








