<!--Encabezado de la pagina principal-->
<div class="page-header" style="background-image: url('assets/img/antoine-barres.jpg')">
    <div class="container">
        <div class="title-brand">
            <div class="main-logo">
                <img src="assets/img/angular2-logo.png" alt="">
            </div>
            <h1 class="main-title">Edward Navarro</h1>
            

            <div class="fog-low">
                <img src="assets/img/fog-low.png" alt="">
            </div>
            <div class="fog-low right">
                <img src="assets/img/fog-low.png" alt="">
            </div>
        </div>
        <p class="description-subtitle">
            Ingeniero Electrónico y de Telecomunicaciones con conocimientos en tecnologías de la información, automatización y control de sistemas electrónicos, desarrollo software, gestión de redes y servicios de Telecomunicaciones, gestión de proyectos empresariales.
        </p>
        
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
</div>

<!--contenido principal-->
<div>
    <div class="container">
        <div class="row">
            <div class="section col">
                <div class="section-description">
                    <div class="profile-picture">
                        <img src="assets/img/perfil.png" alt="" >
                    </div>
                    <h2 class="section-description__title">Sobre mí</h2>
                    <p class="section-description__paragph">Me considero una persona responsable,  respetuoso, adaptable a los cambios, con capacidad de liderazgo, adecuadas relaciones interpersonales para el trabajo en equipo, decidido al cumplimiento de mis metas, capaz de mantener un aprendizaje continuo y abierto a opiniones que me hagan mejorar no solo como profesional sino como persona.</p>
                </div>
            </div>         
        </div>
        <!--seccion de las tarjetas-->
        <div class="row ">
            <div class="section col">

                <div class="row">
                    <div class="card col-12 col-md ">
                        <div class="card-body ">
                            <i class="icon icon-award-48"></i>
                            <h3 class="card-title">Estudios</h3>
                            <p class="card-paragph">Conozca más sobre los estudios y certificaciones que he realizado a lo largo de mi carrera en Ingeniería Electrónica y de Telecomunicaciones.</p>
                            
                            <button (click)="showStudies()" type="button" class="btn btn-outline-danger">Ver más</button>
                        </div>
                    </div>

                    <div class="card col-12 col-md">
                        <div class="card-body">
                            <i class="icon icon-briefcase-24"></i>
                            <h3 class="card-title">Portafolio</h3>
                            <p class="card-paragph">Conozca más sobre los proyectos profesionales en los que he estado involucrado a lo largo de mi carrera en Ingeniería Electrónica y de Telecomunicaciones.</p>
                            <button (click)="showPortfolios()" type="button" class="btn btn-outline-danger">Ver más</button>
                        </div>
                    </div>

                    <!--

                    <div class="card col-12 col-md">
                        <div class="card-body">
                            <i class="icon icon-badge-13-2"></i>
                            <h3>Contacto</h3>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button type="button" class="btn btn-outline-danger">Ver mas</button>
                        </div>
                    </div>
                    -->
                </div>

            </div>
                       
        </div>

    </div>
</div>