<!--Encabezado de la pagina principal-->
<div class="page-header" style="background-image: url('assets/img/antoine-barres.jpg')">
    <div class="container">
        <div class="title-brand">
            <div class="main-logo">
                <img src="assets/img/angular2-logo.png" alt="">
            </div>
            <h1 class="main-title">Edward Navarro</h1>
            

            <div class="fog-low">
                <img src="assets/img/fog-low.png" alt="">
            </div>
            <div class="fog-low right">
                <img src="assets/img/fog-low.png" alt="">
            </div>
        </div>
        <p class="description-subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam optio culpa ab debitis magnam nobis quae, ea laborum consectetur rerum perferendis asperiores nemo, provident explicabo, dolor pariatur delectus.</p>
        
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
</div>

<!--contenido principal-->
<div>
    <div class="container">
        <div class="row">
            <div class="section col">
                <div class="section-description">
                    <div class="profile-picture">
                        <img src="assets/img/perfil.png" alt="" >
                    </div>
                    <h2 class="section-description__title">Sobre mi</h2>
                    <p class="section-description__paragph">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi consequatur saepe inventore iste ad eaque id necessitatibus temporibus maiores cupiditate similique voluptates incidunt accusamus officia provident, ipsa ratione numquam reiciendis voluptas velit sapiente doloremque? Maxime nobis repudiandae sint totam debitis cumque, porro saepe dignissimos quibusdam voluptatibus repellat iste. Debitis, eius.</p>
                </div>
            </div>         
        </div>
        <!--seccion de las tarjetas-->
        <div class="row ">
            <div class="section col">

                <div class="row">
                    <div class="card col-12 col-md">
                        <div class="card-body">
                            <i class="icon icon-award-48"></i>
                            <h3>Estudios</h3>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            
                            <button (click)="showStudies()" type="button" class="btn btn-outline-danger">Ver mas</button>
                        </div>
                    </div>

                    <div class="card col-12 col-md">
                        <div class="card-body">
                            <i class="icon icon-briefcase-24"></i>
                            <h3>Portafolio</h3>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button (click)="showPortfolios()" type="button" class="btn btn-outline-danger">Ver mas</button>
                        </div>
                    </div>

                    <div class="card col-12 col-md">
                        <div class="card-body">
                            <i class="icon icon-badge-13-2"></i>
                            <h3>Contacto</h3>
                            <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button type="button" class="btn btn-outline-danger">Ver mas</button>
                        </div>
                    </div>
                </div>

            </div>
                       
        </div>

    </div>
</div>