<div class="page-header" style="background-image: url('assets/img/antoine-barres.jpg')">
    <div class="container">
        <div class="title-brand">
            <div class="main-logo">
                <img src="assets/img/angular2-logo.png" alt="">
            </div>
            <h1 class="main-title">Edward Navarro</h1>
            

            <div class="fog-low">
                <img src="assets/img/fog-low.png" alt="">
            </div>
            <div class="fog-low right">
                <img src="assets/img/fog-low.png" alt="">
            </div>
        </div>
        <p class="description-subtitle">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam optio culpa ab debitis magnam nobis quae, ea laborum consectetur rerum perferendis asperiores nemo, provident explicabo, dolor pariatur delectus.</p>
        
    </div>
    <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
</div>