<footer class="footer">
    <div class="container">
        <!--primera fila-->
        <div class="row">
            <div class="footer-contact col">
                <h3 class="footer-subtitle">Contáctame</h3>
                <div class="footer-contact__list">
                    <ul>
                        <li><a href="https://goo.gl/maps/y46dVyWxZiCLAkB76" target="_blank"><i class="fas fa-map-marker-alt"></i> Popayán - Cauca</a></li>
                        <li><a href="https://web.whatsapp.com/" target="_blank"><i class="fab fa-whatsapp"></i> (+57) 322 5098360</a></li>
                        <li><a href="https://www.google.com/intl/es-419/gmail/about/" target="_blank"><i class="fab fa-google"></i> edward@unicauca.edu.co</a></li>
                    </ul>
                    <ul>
                        <li><a href="https://www.facebook.com/edward.navarro.526/" target="_blank"><i class="fab fa-facebook"></i> /edward.navarro.526</a></li>
                        <li><a href="https://github.com/EdwardNavarro93" target="_blank"><i class="fab fa-github"></i>/EdwardNavarro93</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-about d-none d-lg-block col">
                <h3 class="footer-subtitle">Acerca de esta Página</h3>
                <p>Esta es una página creada con la finalidad de presentar un perfil profesional para ser presentada ante posibles ofertas laborales. Es de caracter personal, por lo tanto, no tiene ningún interés comercial.</p>
            </div>
        </div>
        <!--segunda fila-->
        <div class="row">
            <div class="col">
                <h6 class="footer-description">
                    Desarrollado con 
                    <a href="https://angular.io/" target="_blank">
                        <img class="angularlogo" src="assets/img/angular2-logo.png">
                    </a>
                    & 
                    <a href="https://getbootstrap.com/" target="_blank">
                        <img class="bootstraplogo" src="assets/img/bootstraplogo.png">
                    </a>
                </h6>
            </div>       
        </div>
        <!--tercera fila-->
        <div class="row">
            <div class="col footer-copyright">Copyright © 2020. All Rights Reserved.</div>
        </div>
    </div>
</footer>
