<footer class="footer">
    <div class="container">
        <!--primera fila-->
        <div class="row">
            <div class="footer-contact col">
                <h3 class="footer-subtitle">Contact</h3>
                <div class="footer-contact__list">
                    <ul>
                        <li><a href="#"><i class="fas fa-map-marker-alt"></i>: Popayan - Cauca</a></li>
                        <li><a href="#"><i class="fab fa-whatsapp"></i>: (+57) 322 5098360</a></li>
                        <li><a href="#"><i class="fab fa-google"></i>: edward@unicauca.edu.co</a></li>
                    </ul>
                    <ul>
                        <li><a href="#"><i class="fab fa-facebook"></i>: facebook.com</a></li>
                        <li><a href="#"><i class="fab fa-github"></i>: github.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-about d-none d-lg-block col">
                <h3 class="footer-subtitle">About</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam atque tempore officiis sit voluptatibus natus aspernatur libero, fugit optio rerum. lorem tempore officiis sit voluptatibus natus aspernatur libero, fugit optio rerum. lorem</p>
            </div>
        </div>
        <!--segunda fila-->
        <div class="row">
            <div class="col">
                <h6 class="footer-description">
                    Desarrollado con 
                    <a href="https://angular.io/" target="_blank">
                        <img class="angularlogo" src="assets/img/angular2-logo.png">
                    </a>
                    & 
                    <a href="https://getbootstrap.com/" target="_blank">
                        <img class="bootstraplogo" src="assets/img/bootstraplogo.png">
                    </a>
                </h6>
            </div>       
        </div>
        <!--tercera fila-->
        <div class="row">
            <div class="col footer-copyright">Copyright © 2020. All Rights Reserved.</div>
        </div>
    </div>
</footer>
